<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/alcia"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsightED"
        tools:targetApi="31">
        <activity
            android:name=".bottomSheetResult"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".questionActivity_art"
            android:exported="false" />
        <activity
            android:name=".questionActivity_business"
            android:exported="false" />
        <activity
            android:name=".questionActivity_Communication"
            android:exported="false" />
        <activity
            android:name=".questionActivity_Computing"
            android:exported="false" />
        <activity
            android:name=".questionActivity_Engineering"
            android:exported="false" />
        <activity
            android:name=".questionActivity_Hospitality"
            android:exported="false" />
        <activity
            android:name=".questionActivity_Humanities"
            android:exported="false" />
        <activity
            android:name=".babpertanyaan"
            android:exported="false" />
        <activity
            android:name=".UserDetail"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.ListBeasiswa"
            android:exported="false" />
        <activity
            android:name=".View.ListCampusActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="androidx.appcompat.app.AppCompatDelegate.DEFAULT_NIGHT_MODE"
            android:resource="@array/preloaded_fonts"
            android:value="MODE_NIGHT_NO" />
    </application>

</manifest>